
@import "variables";


@import "mixins";


* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1 {
    line-height: 3rem;
	  font-size: 1.3rem;
}

a {
	color: #000;
	text-decoration: none;

  &:hover {
	color: #B8860B;
  }
}

.box {
  width: 90%;
	max-width: 80rem;
  margin: 0 auto;
}

/*First div*/

.bg-white {
	background-color: #FFF;
}
#company {
	font-size: 3rem;
}

.first {
  ul {
  margin: 0 0 1.5rem 0;
	padding: 0;
	border: 1px solid #999;

  li {
      a {
      	display: block;
      	border-bottom: 1px solid #CCC;
      	padding: 1rem;
      	background-color: #EEE;

      &:hover {
  	     background-color: #666;
  	     border-bottom: 1px solid #666;
  	     color: white;
  	     text-shadow: 0 1px 1px #333;
        }
      }
       &:nth-of-type(6) a {
  	   border-bottom: none;
   }
 }
}
  h1 {
	font-family: 'Damion';
    margin: 1.5rem 2rem 1.5rem 0;
}
}


/* -- SECOND DIV -- */
.bg-people {
    background-image: url(../images/bg/creative-office.jpg);
    background-size: cover; /* bg image will always cover the assigned area regardless of screen-size */
    color: #FFF;
    padding: 2rem 0 3rem 0;

    a {
      display: block;
      color: #FFF;
      text-decoration: none;
      padding: 1rem 2rem;
      margin: 0 0 1rem 0;
      border: 1px solid #FFF;
  	  background-color: #000;
  	  transition: background-color 0.5s ease, border 0.5s ease;

      &:hover {
        background-color: $bg-people-hover;
	      border: 1px solid $bg-people-hover;
      }
    }

    h1 {
      span{
        &:first-of-type { /* accessing '+' in <h1> */
    font-family: Impact, sans-serif;
    vertical-align: middle;
    font-size: 4rem;
    color: $bg-gold;
  }
        &:last-of-type {
    font-style: italic;
    text-transform: lowercase;
      }
    }
  }
}

/* -- THIRD DIV -- */
.bg-gold {
	background-color: $bg-gold;
	padding: 2rem 0;

  ul {

    li {
    width: 100%;

      a {
      	display: block;
      	padding: 1rem;
      	background-color: #FFF;
        text-decoration: none;
      	border-bottom: 1px solid #CCC;
      }
      &:last-child a {
	       border: none;

         &:hover { /* when <a> that belongs to .bg-gold is hovered, color the text of second <span> that belongs to <a> to darkgoldenrod */
    color: #666;
	  background-color: #EEE;
  }
}
  span {

  &:last-child {
    text-transform: uppercase;
	margin: 0 0 0 1rem;
        }
      }
    }
  }
}
